<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>WORKLOAD</h2>
            </div>
                <!-- Workload actions and filters -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <workload-actions></workload-actions>
                    </div>
                </div>
                <!-- #END# Workload actions and filters -->
                <!-- Workload items -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <workload-items></workload-items>
                    </div>
                </div>
                <!-- #END# Workload items -->
        </div>
</section>