<div class="card">
    <div class="header">
        <h2> Workload Actions </h2>
    </div>
    <div class="body">
        <div class="button-demo">
        <button type="button" class="btn btn-info waves-effect" (click)=createTodo()><i class="material-icons" >note_add</i><span>ADD TO DO</span></button>
            <button type="button" class="btn btn-info waves-effect"><i class="material-icons">file_download</i><span>Download TO DOs</span></button>
        </div>
    </div>
    <todo-editor></todo-editor>
</div>